<!-- @format  -->

<!-- global -->
PORT_SERVE=5000

<!-- db -->
DB_HOST=containers-us-west-76.railway.app
DB_PORT=6580
DB_USER=postgres
DB_PASS=XrZt1uqEZWGfYYlk1v1L
DB_DATA=railway
DB_TYPE=postgres
NODE_ENV=dev

<!-- jwt -->
JWT_KEY=anye
JWT_EXP=1h

<!-- mail -->
MAIL_KEY=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
MAIL_SENDER_NAME=Leo Merida
MAIL_SENDER_EMAIL=dimasmerida15@gmail.com
MAIL_JWT_KEY=mail_key
MAIL_JWT_EXP=3h
MAIL_RECOVER_URL=http://localhost:3000/auth/recover/
MAIL_TEMPLATEID=3
